[Unit]
Description=Jaeger tracing agent
After=network.target

[Service]
Type=simple
User=agent
Group=agent
ExecStart=/etc/agent/agent --config-file /etc/agent/agent.yml

[Install]
WantedBy=multi-user.target