[Unit]
Description=Runs keycloak container number %i
After=docker.service

[Service]
Type=simple
ExecStart=/bin/docker start -a keycloak-%i
ExecStop=/bin/docker stop keycloak-%i
Restart=always

[Install]
WantedBy=multi-user.target
