[Unit]
Description=Jboss Application Server
After=syslog.target network.target
Before=httpd.service

[Service]
EnvironmentFile=-/etc/keycloak/keycloak.conf
PIDFile=/var/run/keycloak/keycloak.pid
User=keycloak
Group=keycloak
ExecStart=/opt/keycloak/keycloak/bin/launch.sh $WILDFLY_MODE $WILDFLY_CONFIG $WILDFLY_BIND $WILDFLY_ARGS
TimeoutStartSec=600
TimeoutStopSec=600

[Install]
WantedBy=multi-user.target
